<div class='row card mb-2 mt-2'>

  <div class='card-header'>{{title}}</div>
  <div class='card-body'>
    <p class='card-text'>
      {{content}}
    </p>
  </div>
  <div class='card-footer text-muted'>
    Posted by
    {{user.username}}
    on
    {{createdAt}}
  </div>
</div>
<div class='row'>
  <form id='comment-form' data-id='{{id}}'>
    <textarea id='comment-text-area' class='d-block mb-2'></textarea>
    <button type='submit' id='comment-submit' class='btn btn-success'>Submit
      Comments</button>
  </form>

</div>
{{#each comments as |comment|}}
  <div class='row card'>

    <div class='card-body'>
      <p class='card-text'>{{comment.content}}</p>
    </div>
    <div class='card-footer text-muted'>
      Posted by
      {{comment.user.username}}
      on
      {{comment.createdAt}}
    </div>

  </div>
{{/each}}
<script src='/js/blogpage.js'></script>