<!-- Loop over each object in the blogs array -->
{{#each blogs as |blog|}}
  <a
    type='button'
    class='row text-dark mb-2 mt-2 post-link card'
    href='/blogs/{{id}}'
  >
    <div class='card-header home-page-card-header'><h5>{{blog.title}}</h5>
    </div>
    <div class='card-body'>
      <p class='card-text'>
        {{blog.content}}
      </p>
    </div>
    <div class='card-footer text-muted'>
      Posted by
      {{blog.user.username}}
      on
      {{blog.createdAt}}
    </div>
  </a>
{{/each}}